@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b>Address:</b><br />
    2 Springfield Rd,  <br />
    Stornoway,<br />
    HS1 2PZ<br />
    <br />
    <b>Phone:</b><br />
    07470184697
</address>

<address>
    <strong>Reception:</strong>   <a href="mailto:Support@example.com">reception@cccsports.com</a><br />
    <strong>System Developer (report bugs):</strong> <a href="mailto:gamac97@hotmail.co.uk">gamac97@hotmail.co.uk</a>
</address>