
@{
    ViewBag.Title = "Cafe";
}

<h2>Cafe</h2>

<hr />

<img src="~/Content/Images/CafeSmall.jpg" alt="Cafe"/>
<br />
<p>The cafe is open to all!</p>

<hr />

<div>
    @Html.ActionLink("Back", "FacilitiesHome", "Facilities")
</div>

