
@{
    ViewBag.Title = "Gym";
}

<h2>Gym Details</h2>

<hr />

<img src="~/Content/Images/GymSmall.jpg" alt="Gym" />
<br />
<p>The gym is open to all. If you are a day user you must pay on entry, members are free to enter.</p>

<hr />

<div>
    @Html.ActionLink("Back", "FacilitiesHome", "Facilities")
</div>
