
@{
    ViewBag.Title = "Swimming Pool";
}

<h2>Swimming Pool Details</h2>

<hr />

<img src="~/Content/Images/SwimmingPoolSmall.jpg" alt="Swimming Pool" />
<br />
<p>The swimming pool is open to all! You must pay on entry and only if there is space.</p>

<hr />

<div>
    @Html.ActionLink("Back", "FacilitiesHome","Facilities")
</div>

